<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guidian.teaching.mapper.CourseMapper">

    <select id="isExistCourse" parameterType="map" resultType="java.lang.Boolean">
        SELECT * FROM `tb_course`
        <where>
            <if test="course_id != null">
                `course_id` = #{course_id}
            </if>
            <if test="teacher_id != null">
                AND `teacher_id` = #{teacher_id}
            </if>
            <if test="clbum_id != null">
                AND `clbum_id` = #{clbum_id}
            </if>
        </where>
    </select>

    <select id="getAdministratorAddCourse" resultType="com.guidian.teaching.entity.Course">
        SELECT * FROM `tb_course`;
    </select>

    <select id="getCourseAllByCourseId" parameterType="list" resultType="com.guidian.teaching.entity.Course">
        SELECT * FROM `tb_course`
        <where>
            <foreach collection="courseIds" item="courseId" open="(" separator="OR" close=")">
                course_id = #{courseId}
            </foreach>
        </where>
    </select>

    <select id="getElectiveCourse" resultType="com.guidian.teaching.entity.Course">
        SELECT * FROM `tb_course`
        <where>
            <if test="teacher_id == null">
                `teacher_id` IS NULL
            </if>
            <if test="clbum_id == null">
                AND `clbum_id` IS NULL
            </if>
            AND `course_category` = '1';
        </where>
    </select>

    <select id="getCurrentStudentNoCourses" resultType="com.guidian.teaching.entity.Course">
        SELECT * FROM tb_course
        <where>
            course_id NOT IN
            <foreach collection="courseIds" item="courseId" open="(" separator="," close=")">
                #{courseId}
            </foreach>
            AND `course_category` = 1;
        </where>
    </select>

    <select id="getCurrentStudentNoSelectCourses" resultType="com.guidian.teaching.entity.Course">
        SELECT * FROM tb_course
        <where>
            `course_id` NOT IN
            <foreach collection="courseIds" item="courseId" open="(" separator="," close=")">
                #{courseId}
            </foreach>
            AND course_category = '1';
        </where>
    </select>

    <select id="getCurrentStudentNoSelectElectives" resultType="com.guidian.teaching.entity.Elective">
        SELECT c.`course_name`, c.`course_id`, t.`teacher_id`, t.`teacher_name`, s.`student_id`, s.`course_which_day`,
               s.`course_section`, c.`course_credit`, c.`course_hours`, c.`course_category`, c.`start_time`
        FROM `tb_student_course` as s, `tb_course` as c, `tb_teacher` as t
        <where>
            s.`student_id` IS NULL
            AND s.`course_id` = c.`course_id`
            AND s.`teacher_id` = t.`teacher_id`
            AND s.`course_id` IN (
            SELECT `course_id` FROM `tb_course`
            <where>
                `course_category` = '1'
                AND `course_id` NOT IN
                <foreach collection="courseIds" item="courseId" open="(" separator="," close=")">
                    #{courseId}
                </foreach>
            </where>
            );
        </where>
    </select>
</mapper>
